@import '../../variables';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
// custom styles
.toolbar-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  p.toolbar-title-text {
    margin: 0;
    font-size: 1.9rem;
  }
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.toolbar-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & button {
    font-size: 1.1rem;
    font-weight: bold;
  }
}
