<div class="component-wrapper">
  <!--
  <pre>
    {{ authState | async }}
  </pre>
-->
  <!-- card para formulario de registro -->
  <mat-card *ngIf="!showSignInCard" class="signup-card">
    <mat-card-title>Formulario de Registro</mat-card-title>
    <mat-card-content>
      <div class="form-wrapper">
        <form [formGroup]="signUpForm">
          <div class="form-fields-row">
            <mat-form-field [floatLabel]="labelOption">
              <input
                matInput
                type="text"
                placeholder="ingrese usuario"
                formControlName="username"
              />
              <mat-error
                *ngIf="username?.hasError('required') && (username?.touched || username?.dirty)"
              >
                Debe ingresar su usuario
              </mat-error>
            </mat-form-field>
            <mat-form-field [floatLabel]="labelOption">
              <input
                matInput
                type="password"
                placeholder="ingrese su password"
                formControlName="password"
              />
              <mat-error
                *ngIf="password?.hasError('required') && (username?.touched || username?.dirty)"
              >
                Debe ingresar su contraseña
              </mat-error>
            </mat-form-field>
          </div>
          <div formGroupName="attributes">
            <div class="form-fields-row">
              <mat-form-field [floatLabel]="labelOption">
                <input matInput type="text" placeholder="ingrese email" formControlName="email" />
                <mat-error *ngIf="email?.hasError('required') && (email?.touched || email?.dirty)">
                  Debe ingresar su email
                </mat-error>
                <mat-error *ngIf="email?.hasError('pattern') && (email?.touched || email?.dirty)">
                  Revise su formato de email
                </mat-error>
              </mat-form-field>
              <mat-form-field [floatLabel]="labelOption">
                <input
                  matInput
                  type="text"
                  placeholder="ingrese telefono"
                  formControlName="phone_number"
                />
                <span matPrefix>(502)&nbsp;</span>
                <mat-error *ngIf="phone?.hasError('required') && (phone?.touched || phone?.dirty)">
                  Debe ingresar su # de telefono
                </mat-error>
                <mat-error *ngIf="phone?.hasError('pattern') && (phone?.touched || phone?.dirty)">
                  Revise el formato del # de telefono
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="controls">
            <button
              mat-stroked-button
              (click)="signUpSubmit()"
              class="control-btn"
              color="primary"
              [disabled]="signUpForm.invalid"
            >
              Registrarse
            </button>
            <button mat-stroked-button (click)="signUpForm.reset()" class="control-btn">
              Borrar
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-card-footer style="width: 100%;">
      <button mat-button (click)="startSignInForm()" color="accent">
        Ya tengo usuario/password
      </button>
      <div *ngIf="signUpError" class="signup-error">Error: {{ signUpError.message }}</div>
    </mat-card-footer>
  </mat-card>
  <!-- card para signIn/ingresar credenciales user password despues de verificar Registro --->
  <mat-card *ngIf="showSignInCard" class="signin-card">
    <mat-card-title>Formulario de Ingreso</mat-card-title>
    <mat-card-content>
      <div class="form-wrapper">
        <form [formGroup]="signInForm">
          <div class="form-fields-row">
            <mat-form-field [floatLabel]="labelOption">
              <input
                matInput
                type="text"
                placeholder="ingrese usuario"
                formControlName="usernameSignIn"
              />
              <mat-error
                *ngIf="
                  usernameSignIn?.hasError('required') &&
                  (usernameSignIn?.touched || usernameSignIn?.dirty)
                "
              >
                Debe ingresar su usuario
              </mat-error>
            </mat-form-field>
            <mat-form-field [floatLabel]="labelOption">
              <input
                matInput
                type="password"
                placeholder="ingrese su password"
                formControlName="passwordSignIn"
              />
              <mat-error
                *ngIf="
                  passwordSignIn?.hasError('required') &&
                  (passwordSignIn?.touched || passwordSignIn?.dirty)
                "
              >
                Debe ingresar su contraseña
              </mat-error>
            </mat-form-field>
          </div>
          <div class="controls">
            <button
              mat-stroked-button
              (click)="signInSubmit()"
              class="control-btn"
              color="primary"
              [disabled]="signInForm.invalid"
            >
              Ingresar
            </button>
            <button mat-stroked-button (click)="signInForm.reset()" class="control-btn">
              Borrar
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-card-footer style="width: 100%;">
      <button mat-button (click)="showSignInCard = false" color="accent">
        Me quiero registrar
      </button>
      <div *ngIf="signInError" class="signup-error">Error: {{ signInError.message }}</div>
    </mat-card-footer>
  </mat-card>

  <!-- card para verificacion de registro -->
  <mat-card *ngIf="(authState | async) === 'confirmSignUP'" class="verficacion-signup">
    <mat-card-title>Verificacion de Registro</mat-card-title>
    <mat-card-content>
      <div class="verification-row">
        <mat-form-field [floatLabel]="labelOption">
          <input
            matInput
            type="text"
            placeholder="ingrese codigo <email,sms>"
            [formControl]="verificationCode"
          />
          <mat-error
            *ngIf="
              verificationCode?.hasError('required') &&
              (verificationCode?.touched || verificationCode?.dirty)
            "
          >
            Debe ingresar su codigo de verificacion
          </mat-error>
          <mat-error
            *ngIf="
              verificationCode?.hasError('pattern') &&
              (verificationCode?.touched || verificationCode?.dirty)
            "
          >
            Debe ingresar un codigo de 6 digitos sin espacios
          </mat-error>
        </mat-form-field>
        <button
          (click)="verificarSignUp()"
          style="margin-left: 15px;"
          mat-stroked-button
          class="control-btn"
          color="primary"
          [disabled]="verificationCode.invalid"
        >
          Confirmar codigo
        </button>
      </div>
    </mat-card-content>
    <mat-card-footer *ngIf="!!signUpVerificationError">
      <div class="signup-error">Error: {{ signUpVerificationError.message }}</div>
    </mat-card-footer>
  </mat-card>
</div>
